@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;1,100;1,300&family=Roboto+Condensed:ital@0;1&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family:'Chivo Mono', monospace, 'Roboto Condensed', sans-serif;
  
}

